<%- include('partials/header'); %>

<div class="container">
  <h1>Welcome To So-Real</h1>
  <div class="container">
    <div class="card-group">
      <% datas.forEach(function(data){ %>
      <div class="conatiner">
        <div class="card w-100">
          <img style="width: 300px;" src="data:<%= data.file.contentType%>;base64,<%= data.file.data.toString('base64')%>" />
          <div class="card-body">
            <h5 class="card-title"><%=data.name%></h5>
            <p class="card-text"><%=data.caption%></p>
            <p class="card-text"><small class="text-muted">Uploaded on <%=(data.uploadTime.toString()).split("GMT")[0]%></small></p>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
</div>

<%- include('partials/footer'); %>
